/*
Name : Jenny Shin
Date : 02/07/2022
CS 125H - Lab5
*/

/* the reset selector*/
* {
  margin: 0;
  padding: 0;
}

/* the styles for the elements */

html {
  background-color: #f5f5f5;
}

body {
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
  width:100%;
  color: #30475e;

  
}

p {
  color: #30475e;
  font-size: 120%;
}

/* the styles for the header*/

.logo {
  float: left;
  width: 75px;
  height: auto;
  margin: 0.5em 1em 1em 2em;
}

header h2 {
  font-size: 150%;
  text-align: left;
  padding: 2.5em 2em 2em;
}

.header{
  position: relative;
}

/* the styles for the navbar*/

.nav_bar{
  position: absolute;
  top:70px;
  right: 30px;
}

nav ul{
  padding:0;
  margin:0;
  list-style-type: none;
  
  
}

nav ul li{
  float: left;
 
}

nav ul li a{
  
  display:inline;
  background-color:#f5f5f5;
  width: 15%;
  padding:1em;
  font-size: 1.2rem;
  font-weight: bold;
  color:#30475e;
  text-decoration: none;
  
}

nav ul{
  text-align: center;
}

nav ul li a:hover, nav ul li a:focus{
  color:#f05454;
}

.current{
  color:gray;
}

/* .dd-menu ul{
  display: none;
}

.dd-menu:hover ul{
  display:block;
  position: absolute;
} */

/* the styles for the section*/

main h2{
  padding: 1em 0;
}

main h3 {
  color: #f05454;
  font-size: 30px;;
}

main .main_heading {
  margin: 5em;
}

.letter_img{
  display:inline-block;
  width:300px;
  float: left;
  margin-left: 5%;
  margin-right:5%;

}

.why {
 float:right;
 width: 50%;
 padding:3% 10% 5% 5%;
 
}


.korean_girl{
  display:inline-block;
  width: 500px;
  float: right;
  margin-top:2em;
  margin-right:2em;
}

.alphabet {
margin-top: 10%;
margin-left:5%;
width: 50%;
float: left;
}

/* the styles for the aside*/

.aside-heading {
  clear:both;
  text-align: center;
  margin-top: 25em;
}

.how {
  clear:both;
  text-align: center;
}

.basic_img {
  width: 20%;
  height: auto;
  padding: 2em;
  margin: 1em;
}

.fun_video_img {
  width: 20%;
  height: auto;
  padding: 2em;
  margin: 1em;
}

.worksheets_img {
  width: 20%;
  height: auto;
  padding: 2em;
  margin: 1em;
}

.quotation {
  font-size: 100%;
  padding: 4em;
  text-align: center;
}

/* the styles for the footer*/

footer {
  background-color: hsl(199, 26%, 25%);
  width: 100%;
  height: 300px;
}

.footer_logo {
  
  width: 3em;
  height: auto;
  margin:1em 0 0 2em;
  
}

.footer_heading{
  color: rgba(255, 255, 255, 0.774);
  display:inline-block;
  font-size: 17px;
  
  
}

.copyright {
  font-size: 100%;
  color: white;
  border-top:1px solid rgba(216, 215, 215, 0.719);
  margin: 10em 1em 1em 1em;
  padding-top:1em;
}

header h2 {
  font-size: 200%;
  text-align: left;
  padding: 2em 2em 2em 2em;
}

.topnav {
  clear: left;
  background-color: #f5f5f5;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.topnav a {
  float: center;
  text-align: center;
  padding: 1em 1em;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #f05454;
  color: white;
}

/* the styles for main*/


main h3 {
  float: clear;
  color: #f05454;
  font-size: 200%;
  padding: 3rem 3rem;
}

.letter_img {
  float: left;
  width: 30%;
  height: auto;
  padding: 1em 4em 2em 4em;
}

main h2 {
  font-size: 200%;
  padding: 1em 1em 1em 1em;
  text-align: left;
}
.korean_girl {
  float: right;
  width: 60%;
  height: auto;
  border-radius: 30;
  padding-top: 2em;
}

.container2 {
  padding: 10em 2em;
}


.container3 {
 
  text-align: center;
}

.how {
    text-align: center;
}

.quotation{
    padding:4em 4em 4em 4em;
    text-align:center;
}

.basic_img{
    height: 250px;
    padding:2em 2em 2em 2em;
}

.fun_video_img{
    height: 250px;
    padding:2em 2em 2em 2em;

}

.worksheets_img{
    height:250px;
    padding:2em 2em 2em 2em;
}

main q{
    text-align: center;
    font-size: 100%;
    font-weight: 100;
}

/* the styles for the footer*/
#footer {
  height: 300px;
  margin-left:0px;
  margin-right:0px;
  background-color: #f05454;
  width: 100%;
  color: white;
  text-align: right;
}

footer p{
    padding-top:250px;
    color:white;
}
