/*
Name : Jenny Shin
Date : 01/21/2022
CS 125H - Lab3
*/

/* the styles for the elements */

html {
  background-color: #f5f5f5;

}

body {
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #30475e;
}

p{
    color:#30475e;
    font-size: 120%;
}

/* the styles for the header*/

.logo {
  float: left;

  width: 100px;
  height: auto;
  margin: 0.5em 1em 2em 2em;
  padding-right: 2rem;
}

header h2 {
  font-size: 200%;
  text-align: left;
  padding: 2em 2em 2em 2em;
}

.topnav {
  clear: left;
  background-color: #f5f5f5;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.topnav a {
  float: center;
  text-align: center;
  padding: 1em 1em;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #f05454;
  color: white;
}

/* the styles for main*/


main h3 {
  float: clear;
  color: #f05454;
  font-size: 200%;
  padding: 3rem 3rem;
}

.letter_img {
  float: left;
  width: 30%;
  height: auto;
  padding: 1em 4em 2em 4em;
}

main h2 {
  font-size: 200%;
  padding: 1em 1em 1em 1em;
  text-align: left;
}
.korean_girl {
  float: right;
  width: 60%;
  height: auto;
  border-radius: 30;
  padding-top: 2em;
}

.container2 {
  padding: 10em 2em;
}


.container3 {
 
  text-align: center;
}

.how {
    text-align: center;
}

.quotation{
    padding:4em 4em 4em 4em;
    text-align:center;
}

.basic_img{
    height: 250px;
    padding:2em 2em 2em 2em;
}

.fun_video_img{
    height: 250px;
    padding:2em 2em 2em 2em;

}

.worksheets_img{
    height:250px;
    padding:2em 2em 2em 2em;
}

main q{
    text-align: center;
    font-size: 100%;
    font-weight: 100;
}

/* the styles for the footer*/
#footer {
  height: 300px;
  margin-left:0px;
  margin-right:0px;
  background-color: #f05454;
  width: 100%;
  color: white;
  text-align: right;
}

footer p{
    padding-top:250px;
    color:white;
}
